<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome To Peacekeeper</h1>
          <p class="lead">Today is <%= Time.now.strftime("%d %B, %Y") %></p>
        </div>
</div>


    <div class="alert alert-primary" role="alert">
      Check <%= pluralize(@tasks.select {|task| task.status == false}.count, "Task") %>!
    </div>


