<ul>
    <% @tasks.each do |task| %>
        <li>
        <%= task.name %>
        <%= task.status_description %>
        <%= button_to "Complete", toggle_status_path(task) %>
        </li>
    <% end %>
</ul>