

<ul class="collection">
    <% @tasks.each do |task| %>
        <li class="collection-item">
        <%= link_to task.name, task_path(task) %>
        <%= task.status_description %>
        <%= button_to "Complete", toggle_status_path(task) %>
        </li>
    <% end %>
</ul>

<%= button_to "Create New Task", new_task_path, method: "get" %>