<ul class=“collection”>
    <li class=“collection-item”>
      <span class=“title”>Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <input type=“checkbox” />
    </li>
</ul>