
<div class="container-fluid full-screen-login new-account-content">
    <div class="new-account-form" style="padding-bottom: 10px;">
        <h1>Create New Account</h1>
        <%= render 'form' %>
    </div>
</div>