<div class="card text-center">
        <div class="card-header">
            Write Your Post
        </div>
        <div class="card-body">
            <%= form_for @post do |f| %>
                <p><%= f.text_area :content %></p>   
                <a><%= f.submit "Submit", class: "btn btn-outline-info" %></a>
            <% end %>
        </div>
        <div class="card-footer text-muted">
            ✍🏻
        </div>
</div>



