// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("green", "base") !default;


//  @import "materialize";


// @import "https://fonts.googleapis.com/icon?family=Material+Icons";

.bg-light {
    background-color: #0000ff59!important
}


.menu {
    background-color: lightgrey;
}

.svg.square {
    width: 20px;
    height: 20px;
}


@import "tasks"