// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("green", "base") !default;

@import 'sessions';
@import 'posts';

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: white; /* Just to visualize the extent */
    
}
.row {
    height: 100%;
}
.menu {
    background-color: #125998;

}

a {
    color: white;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.col-md-10 {
    padding: 0;
}

.content {
    align-content: center;
    text-align: left;
    width: 100%;
    // max-width: 800px;
    padding: 30px;
    margin: auto;
}


.svg.square {
    width: 20px;
    height: 20px;
}


@import "tasks"
