// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("green", "base") !default;

@import 'sessions';
@import 'posts';
@import "tasks";

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: white; /* Just to visualize the extent */
    
}
.row {
    height: 100%;
}
.menu {
    background-color:#311B92;

}

.bg-light {
    background-color: #EDE7F6!important;
}

.navbar-brand {
    padding: 50px;
    margin-right: 0;
}

a {
    color: white;
}

a:hover {
    color: #EDE7F6
    ;
    text-decoration: none;
}

.col-md-10 {
    padding: 0;
}

.content {
    align-content: center;
    text-align: center;
    width: 100%;
    // max-width: 800px;
    padding: 50px;
    margin: auto;
}

.main-content {
    align-content: center;
    text-align: center;
    width: 100%;
    // max-width: 800px;
    padding: 50px;
    margin: auto;
    }

.svg.square {
    width: 20px;
    height: 20px;
}



