.outer {
    width:100%;
    text-align: right;
}
.inner
{
    display: inline-block;
    text-align: right;
}

a
{
    color: black;
    vertical-align: center;
    
}

check-box
{
    align-content: right
}

card-body.hor
{
   
}